<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">

<head>
  <title>Customer Segmentation</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
      height: 450px
    }

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: auto;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }

      .row.content {
        height: auto;
      }
    }
  </style>
</head>

<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="/static/logo.jpg" width="30" height="30"
            class="d-inline-block align-top" alt="" ALIGN="left">
          <span style="padding: inherit;">Market Based Asset Building</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav">
        {% for key,value in info.items() %}
        <div class="well">
          <p>{{ key }}</p>
          <p>{{ value }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="col-sm-8 text-left">
        <form action="{{ url_for('predict')}}" method="post">
          <div class="row content">
            <div class="col-sm-6">
              <h3>Personal Info</h3>

              <label for="age">Age</label>
              <input type="number" class="form-control" id="age" name="age">
              <label for="income">Income</label>
              <input type="number" class="form-control" id="income">
              <label for="incomeaftertex">Income After Tax Deduction</label>
              <input type="number" class="form-control" id="incomeaftertex">
            </div>
            <div class="col-sm-6">
              <h3>Expenditure</h3>

              <label for="food">Food</label>
              <input type="number" class="form-control" id="food" name="food">
              <label for="gadget">Gadgets</label>
              <input type="number" class="form-control" id="gadget" name="gadget">
              <label for="clothing">Clothing</label>
              <input type="number" class="form-control" id="clothing" name="clothing"><br>
              <div style="display: flex;">
                <label for="homeexp">Home (incl. everything)</label>
                <input type="number" class="form-control" id="homeexp">
                <label for="savings">Savings</label>
                <input type="number" class="form-control" id="savings" name="savings">
              </div>
            </div>

            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-default text-center">Show Recommandations</button>
              <!--<button type="submit" class="btn btn-default text-center" data-toggle="modal" data-target="#myModal">Get
                  Recommendation</button>-->
            </div>
          </div>
        </form>
        {% if result %}
        <center>
          <h3>{{ result }}</h3>
          <h5>Want to save more?</h5>
          <button data-toggle="modal" data-target="#myModal" class="btn btn-default text-center">Save More</button>
        </center>
        {% endif %}
      </div>
      



      <div class="col-sm-2 sidenav">
        <div class="well">
          <p>Gold</p>
          <p>45,695.00</p>
        </div>
        <div class="well">
          <p>Us Dollar</p>
          <p>74.76</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="container-fluid text-center py-5">
    <p>Market Recommandation</p>
  </footer>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Recommendation</h4>
        </div>
        <div class="modal-body">
          <p>You can Save More if you if control your expense on {{exp}} </p>
        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-default" data-dismiss="modal">Close</a>
        </div>
      </div>

    </div>
  </div>

</body>

</html>